body {
  padding-top: 50px;
  background-color: transparent;
  background: url(../img/car_background3.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#map {
  height: 400px; }

#hideMe {
  display: none; }

.ser-size {
  max-width: 75px; }

img.service-photo {
  padding: 3px;
  border: 1px solid black;
  position: relative;
  float: left;
  max-height: 200px;
  max-width: 200px; }

.dropdown-menu.dropdown-form {
  min-width: 300px; }

.popup-overlay {
  display: none;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
  width: 50%;
  height: 65%;
  left: 25%;
  z-index: 1; }

.error {
  color: #ff072c; }

.popup-content {
  display: none; }

.popup-overlay.active {
  display: block; }

.popup-content.active {
  display: block;
  text-align: center; }

.ser-size-name {
  max-width: 170px; }

#newproblems, #nohref {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline; }

#newproblems:hover, #nohref:hover {
  color: #0056b3;
  text-decoration: none;
  text-shadow: 1px 1px 1px #555; }

#navi {
  margin-left: 30px;
  margin-right: 30px; }

#navi2 {
  margin-top: 51px; }

.navbar {
  padding: 0;
  background: #e3f2fd; }

.nav.navbar-nav .nav-link {
  padding: 0.85rem 1rem; }

.nav.navbar-nav .active .nav-link {
  color: #555;
  background: white; }

.navbar-brand {
  padding: .65rem; }

.em-text {
  color: #1caa98 !important; }

.col-lg-4 {
  margin-bottom: 20px; }

section {
  padding: 40px 0 40px 0; }

.jumbotron {
  background: #1b222a url(../img/car_showcase.jpg) no-repeat top center;
  color: white;
  height: 400px;
  overflow: hidden; }

.jumbotron h1 {
  margin-top: 60px; }

.jumbotron p {
  margin-bottom: 40px; }

.jumbotron img.app-btn {
  width: 40%;
  margin-right: 30px; }

.jumbotron img.showcase-img {
  width: 75%; }

img.car-photo {
  padding: 3px;
  border: 1px solid black;
  position: relative;
  float: left; }

picture.car-photo {
  padding: 3px;
  border: 1px solid black;
  position: relative;
  float: left; }

section#feature {
  background: #1caa98;
  color: white;
  padding: 40px;
  overflow: auto; }

section#feature ul li {
  font-size: 22px;
  list-style: none;
  line-height: 2.0em; }

section#feature ul {
  padding: 0;
  margin: 0; }

section#title-bar {
  padding: 0;
  margin: 0;
  height: 80px;
  background: #1caa98;
  color: white; }

section#title-bar h1 {
  margin: 1rem 0; }

footer {
  background: #333333;
  color: white;
  padding: 30px 0 25px 0; }

.footer-nav {
  text-align: center;
  padding: 40px 0; }

.footer-nav a {
  display: inline-block;
  padding: 0 20px; }

footer li {
  float: left;
  padding: 0 10px 0 10px;
  list-style: none; }

footer a {
  color: white; }

footer p {
  float: right; }

#accordion {
  margin-bottom: 20px; }

.card + .card {
  margin-top: 5x; }

.card .card-header h6 {
  font-weight: normal; }

.card .card-header a {
  color: inherit; }

.ourTeam-heading {
  height: 100px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1)); }

.ourTeam-heading h1 {
  color: #000;
  font-weight: 900; }

.ourTeam-box {
  border-top: 6px solid #5DDDD3;
  background-color: #FFFFFF;
  max-height: 540px; }

.section1 {
  padding: 30px 0px 0px 0px; }

.section1 img {
  border: 5px solid #5DDDD3;
  padding: 5px;
  border-radius: 50%;
  height: 170px;
  width: 170px; }

.section2 h1 {
  font-size: 20px;
  color: #C1C1C1;
  margin: 0px;
  border-bottom: 2px solid #5DDDD3;
  display: inline-block;
  padding: 10px 0px; }

.section2 p {
  background-color: #5DDDD3;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
  margin-top: -20px; }

.section3 p {
  padding: 10px 15px 0px 15px;
  font-size: 12px;
  color: #c3c9c9; }

.section4 {
  padding: 10px 0px 50px 0px; }

.section4 i {
  color: #fff;
  padding: 3px;
  border-radius: 2px;
  font-size: 12px;
  background-color: #5DDDD3;
  cursor: pointer; }

.section-info {
  border-top: 6px solid #90DFAA; }

.section-danger {
  border-top: 6px solid #FD8469; }

.section-info .section1 img {
  border: 5px solid #90DFAA;
  padding: 5px; }

.section-info .section2 p {
  background-color: #90DFAA;
  color: #fff; }

.section-danger .section2 p {
  background-color: #FD8469;
  color: #fff; }

.section-danger .section1 img {
  border: 5px solid #FD8469;
  padding: 5px; }

.section-info .section4 i {
  background-color: #90DFAA; }

.section-danger .section4 i {
  background-color: #FD8469; }

.openit_forgot {
  color: blue;
  cursor: pointer; }

.remove {
  display: none; }

.show {
  display: block; }

#big-logo {
  float: right; }

/* media queries */
@media (min-width: 1200px) {
  .jumbotron img.showcase-img {
    width: 100%;
    margin: 5px 0 0 40px; } }

@media (min-width: 768px) and (max-width: 990px) {
  .jumbotron {
    height: 350px !important;
    width: 100%; }
  .jumbotron h1 {
    margin-top: 20px; }
  .jumbotron img.showcase-img {
    display: none; }
  .popup-content h2 {
    font-size: 18px; }
  .popup-content p {
    font-size: 16px; } }

@media (max-width: 768px) {
  .jumbotron {
    height: 350px !important;
    width: 100%;
    padding-top: 45px; }
  .jumbotron h1 {
    margin-top: 45px; }
  #big-logo {
    display: none; }
  .map-responsive {
    padding-top: 10px; }
  .jumbotron img.showcase-img {
    display: none; }
  #navi2 {
    margin-top: 51px; } 
  .popup-content h2 {
    font-size: 16px; }
  .popup-content p {
    font-size: 14px; } }

@media (max-width: 500px) {
  .jumbotron {
    height: 350px !important;
    overflow: hidden;
    text-align: center;
    background: #7eead6;
    padding-top: 100px; }
  section#feature ul li {
    font-size: 19px !important; }
  footer p {
    float: none;
    text-align: center;
    padding-top: 20px; }
  #big-logo {
    display: none; }
  .jumbotron h1 {
    margin-top: 20px; }
  .popup-content h2 {
    font-size: 14px; }
  .popup-content p {
    font-size: 12px; }
  .dropdown-menu.dropdown-form {
    min-width: 250px; } }
